.button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	background-color: #3b6b6d;
	color: white;
	border-radius: 25px;
	border: none;
	font-size: 1rem;
	padding: 0.5rem 1.6rem;
}

.button:hover {
	background-color: #2a4c4d;
}

.cart-amount {
	align-self: flex-end;
}

.shake {
	animation: shake 0.4s ease-out;
}

@keyframes shake {
	0% {
		transform: scale(1);
	}
	40% {
		transform: scale(0.9);
	}
	60% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
