.button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	background-color: #3b6b6d;
	color: white;
	border-radius: 25px;
	border: none;
	font-size: 1rem;
	padding: 0.5rem 1.6rem;
}

.button:hover {
	background-color: #2a4c4d;
}

.cart-amount {
	align-self: flex-end;
}
